<nav class="navbar navbar navbar-fixed-top custom-nav">
    <div class="align-right">
        <ul class="nav navbar-nav justify-content-end">
            <li class="nav-item">
                <a class="nav-link active" href="#1">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#2">About Me</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#3">Portfolio</a>
            </li>
            <li class="nav-item">
                <a class="nav-link disabled" href="#4">Contact</a>
            </li>
        </ul>
    </div>
</nav>