<div id="2">      
    <div class="row"><!-- row -->
        <div style="width:50%;"> <!-- profile -->
            <br><br><br><br>
            <div class="my-img-div">
                <img src="/assets/images/my_image.png" class="my-img">
                <div>   
                    <p>
                        I am a 21 years old, full-stack and mobile developer. I have serious passion in Mobile and Web Development especially the
                            <strong>Backend</strong></p>
                    <ul>
                        <li>
                            <i class="fa fa-chevron-left" aria-hidden="true"></i>
                            / Graduated from Ngee Ann Polytechnics, Singapore in 2018
                            <i class="fa fa-chevron-right" aria-hidden="true"></i>
                        </li>
                        <li>
                            <i class="fa fa-chevron-left" aria-hidden="true"></i>
                            / Diploma of Electronic and Computer Engineering
                            <i class="fa fa-chevron-right" aria-hidden="true"></i>
                        </li>
                        <li>
                            <i class="fa fa-chevron-left" aria-hidden="true"></i>
                            / Mobile and Full-stack Developer
                            <i class="fa fa-chevron-right" aria-hidden="true"></i>
                        </li>
                        <li>
                            <i class="fa fa-chevron-left" aria-hidden="true"></i>
                            /Passionate and enthusiastic Learner
                            <i class="fa fa-chevron-right" aria-hidden="true"></i>
                        </li>
                    </ul>

                </div>
            </div>

        </div><!-- profile -->

        <div style="width:50%;"><!-- Frameworks and Tools -->
            <br>
            <h2 class="my-goals"><strong>Tools and Framworks I used</strong><hr></h2> 
            <div class="row" style="margin-left:10px;">   
                <a href="">
                    <img src="/assets/images/android.png" class="tools">
                </a>
                <a href="">
                    <img src="/assets/images/laravel.png" class="tools">
                </a>
                <a href="">
                    <img src="/assets/images/nodejs.png" class="tools">
                </a>
                <a href="">
                    <img src="/assets/images/git.png" class="tools">
                </a>
                <a href="">
                    <img src="/assets/images/vs_code.png" class="tools">
                </a>
                <a href="">
                    <img src="/assets/images/android_studio.png" class="tools">
                </a>
                <a href="">
                    <img src="/assets/images/firebase.png" class="tools">
                </a>
                <a href="">
                    <img src="/assets/images/heroku.png" class="tools">
                </a>
            </div>
        </div><!-- Frameworks and Tools -->
    </div><!-- row -->

    <div>

        <h2 class="my-goals"><strong>Languages I Speak</strong><hr></h2>
        <div class="row container centre">
            <a href="">
                <img src="/assets/images/java.png" width="120" height="120">
            </a>
            <a href="">
                <img src="/assets/images/php.png" width="120" height="120">
            </a>
            <a href="">
                <img src="/assets/images/js.png" width="120" height="120">
            </a>
            <a href="">
                <img src="/assets/images/html.png" width="120" height="120">
            </a>
            <a href="">
                <img src="/assets/images/css.png" width="120" height="120">
            </a>
        </div>

    </div>

</div>
