<div id="4" style="background-color:teal;">

    <h2 class="contacts"><strong>Contact</strong><hr></h2>
    <div class="centre">
        <h4 class="contacts-heading"><strong>Have some questions or hire me?</strong></h4>
        <form>
            <div class="form-group">
                <input type="email" class="form-control contacts-inputs" name="name" placeholder="Enter Name">
            </div>
            <div class="form-group">
                <input type="password" class="form-control contacts-inputs" name="email" placeholder="EnterEmail">
            </div>
            <div class="form-group">
                <textarea class="form-control contacts-inputs" name="message" cols="30" rows="10">
                    Your Message
                </textarea>
            </div>
            <div class="form-group">
                <button type="submit" class="btn btn-primary contacts-btn align-right">Submit</button>
            </div>
        </form>
        <div class="row centre" style="margin-bottom:30px;">
            <a href="https://www.github.com/kytintin" style="color:#FFF;font-size:18px;">
                <img src="/assets/images/github.png" height="20" width="20">
            </a>
            <a href="" style="color:#FFF;font-size:18px;">
                <img src="/assets/images/linkedin.png" height="20" width="20">
            </a>
            <a href="" style="color:#FFF;font-size:18px;">
                <img src="/assets/images/fb.png" height="20" width="20">
            </a>
        </div>
    </div>
    
</div>