<div id="1" class="">        
    <div class="intro">

        <h3 class="my-heading" style="margin-top:170px;">" Hi, I am a fresh graduate, web and mobile developer.</h3>
        <p class="my-heading">I am enthusiatic and passionate in Computer Systems and Programming. I create responsive web apps and mobile apps."</p>                

    </div>

    <div>

        <h2 class="my-goals">
            <strong>My_Goals</strong>
            <i class="fas fa-check-circle"></i>
            <br>
            <hr>
        </h2>

        <div class="row">

            <div class="goals-items">
                <i class="fas fa-rocket"></i>
                <p><strong>Dynamic</strong></p>
                <p>Use Dynamic Data, no hard-codes</p>
            </div>

            <div class="goals-items">
                <i class="fa fa-bolt" aria-hidden="true"></i>
                <p><strong>Fast</strong></p>
                <p>Fast loading times and Lag Frees</p>
            </div>

            <div class="goals-items">
                <i class="fa fa-laptop" aria-hidden="true"></i>
                <p><strong>Responisve</strong></p>
                <p>Responsive Layouts, no matter what devices (mobiles or desktops)</p>
            </div>

            <div class="goals-items">
                <i class="fas fa-recycle"></i>
                <p><strong>Clean and Reusable</strong></p>
                <p>Keep it simple and reusable, make it efficient and dynamic</p>
            </div>

        </div>

    </div>

    <div style="margin-bottom: 75px;">

        <h3 class="nav-btn">
            <a href="#2">
                <strong style="display: inline-block;">About Me</strong>
                <i class="fa fa-arrow-down"></i>
            </a>
        </h3>

    </div>

</div>